.App {
  text-align: center;
  color: aliceblue;
  background-color: rgb(24, 106, 173);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #1c6377;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
}


a{
  color:aliceblue;
  text-decoration: none;
}

.list{
  padding: 15px;
  font-size:x-large;
}