.App {
  text-align: center;
  color: aliceblue;
  padding: 15px;
  background-color: rgb(24, 106, 173);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*
.App-header {
  background-color: #133a87;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #1c6377;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
}


a{
  color:aliceblue;
  text-decoration: none;
}

.list{
  padding: 15px;
  font-size:x-large;
}